/*Main Container Stuff */

*{
    box-sizing: border-box;
    margin: 0;
    --blueish: #1992d4;
    padding: 0;
    --grayish: #f7f6f6;
	--bg-clr: #facc15;
	--box-shad: .15rem .3rem .5rem 3px #0001;
	--transit: all .2s ease-in;
	--transit-fast: all .1s ease-in;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mainContainer{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
    width: 100vw;
}

/*Sidebar */

.sidebar{
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: var(--blueish);
}

.sidebarButton{
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    gap: 1rem;
    margin: 1rem;
}

.iconHeaderImage{
    height: 60px;
    width: auto;
    fill: white;
}


.sidebarHeading{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 40px;
    padding-right: 45px;
    color: #fff;
}

.sidebarHeadingText{
    align-self: flex-start;
}

/*Header section */

.iconImage{
    height: 30px;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    fill: #fff;
}

.iconSearchImage{
    height: 2rem;
    padding-right: 1.3rem;
    padding-left: 30px;
}

.name{
    font-size: 1rem;
    font-weight: 800;
    justify-self: center;
    margin-right: 15px;
}


.notification{
    height: 2rem;
    width: 2rem;
    justify-self: center;
    align-self: center;
}

.mainButtons{
    padding-bottom: 100px;
}

.headerButton{
    color: #fff;
    background-color: var(--blueish);
    text-align: center;
    border-radius: 5rem;
    align-content: center;
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: 900;
}
.header{
    background-color: #fff;
    grid-row: 1/2;
}
.searchInput{
    background: var(--grayish);
	border-radius: 2rem;
	padding: .3rem .6rem;
	border: none;
	transition: var(--transit);
}
.searchbar{
    display: grid;
    grid-template-columns: 1fr 8fr;
}
.utilitybar{
    padding-top: 1.5vh;
    display: grid;
    grid-template-columns: 5fr 0.7fr  0.7fr 0.7fr;
    padding-bottom: 5vh;
    align-items: center;
    justify-content: center;
}

.leftlwub{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.lowerUtilityBar{
    display: grid;
    grid-template-columns: minmax(350px, 2fr) 1fr;
    align-items: center;
    justify-content: center;
}
.headerButtonGroup{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 2/3;
}

.headerLw{
    grid-template-columns: 1fr 1fr 1fr;
}
.profName{
    justify-self: start;
    font-size: 1rem;
    font-weight: 900;
}
.searchLogo{
    width: 2rem;
    border-radius: 20px;
    justify-self: center;
    background-color: #facc15;
}
.profPic{
    width: 2rem;
    border-radius: 20px;
    background-color: #facc15;
    justify-self: center;
    align-self: center;
}

.profPic2{
    width: 5rem;
    border-radius: 100px;
    background-color: #facc15;
    grid-row: 1/3;
    justify-self: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.headerButtonGroup{
    gap: 6px;
    margin-right: 20px;
}
/* Content */

.content{
    background-color: rgb(235, 235, 235);
    display: grid;
    grid-template-columns: minmax(450px,2fr) 1fr;
    grid-template-rows: 1fr 1fr 1fr fr;
}

.widgetTitle{
    height: 1rem;
    padding-top: 1rem;
    padding-left: 1.5rem;
}
.projectWidget{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.project{
    height: 12rem; /* Fixed height for project items */
    border-left: 6px solid #facc15;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-self: flex-start;
    position: relative;
}

.projectIconContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: -1rem;
    align-items: baseline;
}
.projectIcon{
    height: 1.3rem;
}

