.maincontainer{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;
}

.sidebar{
    background-color: bisque;
}

.header{
    background-color: aqua;
}

.content{
    background-color: brown;
}


.iconImage{
    height: 30px;
    width: auto;
}

.iconHeaderImage{
    height: 60px;
    width: auto;
}